<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}
<body>

   <!-- Preloader Start -->
{% include pre-loader.html %}
   <!-- Preloader Start-->

   <header>
      <!-- Header Start -->
{% include header.html %}
{% include header-sticky.html %}
      <!-- Header End -->
   </header>

    <!-- slider Area Start-->
    <div class="slider-area ">
      <!-- Mobile Menu -->
      <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Single Blog</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider Area End-->
   
   {% include blog-area.html %}
                   <div class="col-lg-4">
                    <div class="blog_right_sidebar">
   {% include sidebar.html %}
                    </div>
                </div>
   <footer>
      <!-- Footer Start-->
{% include footer.html %}
  
      <!-- Footer End-->
    </footer>
  
   
<!-- JS here -->
{% include scripts.html %}
</body>

</html>
