---
layout: default
---
<section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
               <div class="col-lg-8 posts-list">
                     <div class="single-post">
                           <div class="feature-img">
                                 <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt=""/>
                           </div>
                           <div class="blog_details">
                                 <h2>{{ post.title }}</h2>
                                 <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
                                 {{ content }}
                                 </div>
                     </div>
                     {% include sidebar.html %}
               </div>
      </div>
   </section>
